/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222831;
}

h1,
h2 {
  color: #eeeeee;
  font-family: "Poppins", serif;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

p,
li a,
input,
label,
button {
  font-family: "Poppins", serif;
  font-size: 1.125rem;
  color: #eeeeee;
}

label{
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 48px 96px;
  border-bottom: 1px solid #eeeeee;
  flex-wrap: wrap;
}

.logo p {
  font-family: "Oswald", serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.menu-items {
  display: flex;
  gap: 3rem;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: bold;
}

span {
  color: #00adb5;
}

button {
  color: #eeeeee;
  padding: 10px 32px;
  border-radius: 30px;
  font-weight: 600;
}

.hireMebtn {
  background-color: #00adb5;
  margin-right: 20px;
}

.cvbtn,
.cvbtn img,
.UIbtn,
.UXbtn,
.Webbtn {
  background-color: #393e46;
}

.arrowIcon {
  margin-top: 14rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.heroButtons {
  margin-top: 1.2rem;
  margin-right: 13rem;
}

.heroImg img {
  margin-top: 3rem;
}

.aboutText p span {
  color: #eeeeee;
  font-weight: bold;
}

.aboutText {
  display: flex;
  flex-direction: column;
  margin-top: 14rem;
  align-items: center;
}

.aboutText p {
  padding-left: 13rem;
  color: #eeeeeebf;
}

.aboutImage {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
}

.Allbtn {
  background-color: #00adb5;
}

.box {
  background-image: url(../assets/WorkBGImage.png);
  width: 100%;
  height: 1024px;
  position: relative;
  top: 10rem;
}

.worktext {
  display: inline-block;
}

.WorkImages {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 35rem;
  left: 7.5rem;
  right: 7.5rem;
}

.workGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
  position: absolute;
  top: 16.75rem;
  left: 20rem;
}

.box2{
  position: relative;
}

.contactGroup1{
  position: absolute;
  top: 25rem;
  left: 10rem;
}

.box2 img {
  position: absolute;
  left: 15rem;
}

.box2 form{
  position: absolute;
  top: 26rem;
  right: 30rem;
}

input, textarea{
  border-radius: 8px;
  background-color: #393e46;
  margin-top: 5px;
}

input[placeholder], textarea[placeholder]{
  padding: 10px;
}

form button{
  background-color: #00adb5;
}
